@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
  --font: "Inter", sans-serif;
  --dark: #2b323b;
  --dark-light: #424c5a;
  --primary: #3b82f6;
  --primary-dark: #336ce7;
  --danger: #f63b3b;
  --danger-dark: #dd3434;
  --color1: #f3f4f6;
  --color2: #e4e5e7;
  --color3: #cbcdcf;
  --color4: #b9bbbd;
}

html.dark {
  --dark: #e2e8f0;
  --dark-light: #c8cdd4;
  --primary: #3b82f6;
  --primary-dark: #336ce7;
  --danger: #f63b3b;
  --danger-dark: #dd3434;
  --color1: #262d36;
  --color2: #2f3741;
  --color3: #3d4552;
  --color4: #464f5e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: var(--primary-dark);
  text-decoration: none;
}

h1,
h2,
h3,
input {
  color: var(--dark);
}

body,
div#app {
  font-family: var(--font);
  background-color: var(--color1);
  overscroll-behavior: none;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

div#app,
div#stage {
  overflow: hidden;
}

header {
  background-color: var(--primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 0.5rem;
  z-index: 10;
  gap: 0.5rem;
}

html.dark header {
  background-color: var(--color4);
}

header h2,
header button:not(.white) {
  color: #f3f4f6;
}

header h1 {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--color1);
}

header div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  overflow: hidden;
  gap: 0.5rem;
}

header button {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hidden {
  display: none !important;
}

button,
input[type="file"] {
  font-family: var(--font);
  font-size: medium;
  font-weight: 700;
  padding: 0.5rem 0.9rem;
  border-radius: 0.5rem;
  border: none;
  color: var(--color1);
  cursor: pointer;
  will-change: background-color, scale;
  transition: background-color 0.1s, scale 0.1s;
}

input[type="text"],
input[type="password"],
select,
textarea:not(.blocklyTextarea) {
  font-family: var(--font);
  font-size: medium;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--color2);
  border: 1px solid var(--color4);
  color: var(--dark);
}

button {
  background-color: var(--dark);
}

button:not(.tab-button):active {
  scale: 0.95;
}

input[type="file"] {
  background-color: var(--primary);
}

input[type="file"]::file-selector-button {
  font-family: var(--font);
  background-color: white;
  color: #2b323b;
  border: none;
  border-radius: 0.2rem;
}

img.button {
  width: 2rem;
  cursor: pointer;
  will-change: scale;
  transition: scale 0.1s;
}

img.button:active {
  scale: 0.95;
}

button:hover {
  background-color: var(--dark-light);
}

button.primary {
  background-color: var(--primary);
}

button.primary:hover {
  background-color: var(--primary-dark);
}

button.danger {
  background-color: var(--danger);
}

button.danger:hover {
  background-color: var(--danger-dark);
}

button.orange {
  background-color: #f18f3f;
}

button.orange:hover {
  background-color: #e28940;
}

button.green {
  background-color: #2acc66;
}

button.green:hover {
  background-color: #28b85c;
}

button.large {
  font-size: 1.5rem;
}

html.dark header button {
  color: var(--color1);
}

html:not(.removeIcons) button:has(i) {
  padding-left: 0.7rem;
}

html.removeIcons button i:not(.stay) {
  display: none;
}

@keyframes scaleIn {
  from {
    opacity: 0;
    scale: 0;
  }

  to {
    opacity: 1;
    scale: 1;
  }
}

@keyframes scaleOut {
  from {
    opacity: 1;
    scale: 1;
  }
  to {
    opacity: 0;
    scale: 0;
  }
}

.popup {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.popup-content {
  position: relative;
  border-radius: 0.5rem;
  width: max(300px, 50%);
  height: max(300px, 50%);
  background: var(--color2);
  color: var(--dark);
  animation: scaleIn 0.3s ease;
  overflow: auto;
}

.popup-content header {
  padding: 0.5rem;
  padding-left: 0.7rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  width: 100%;
  height: fit-content;
}

.popup-body textarea.extension-code-input {
  resize: vertical;
  width: 100%;
}

.popup-body,
.popup-row {
  display: flex;
  gap: 0.5rem;
}

.popup-body {
  padding: 0.5rem;
  flex-direction: column;
}

.popup-row {
  flex-direction: row;
  align-items: center;
}

.popup-close {
  margin-left: auto;
  font-size: 1.2rem;
}

.notification-container {
  position: fixed;
  top: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  z-index: 10000;
}

.notification {
  background: var(--color2);
  color: var(--dark);
  border-radius: 0.5rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  padding: 0.4rem;
  padding-left: 0.8rem;
  animation: scaleIn 0.3s ease forwards;
}

.notification.hide {
  animation: scaleOut 0.3s ease forwards;
}

.notification-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.notification-close {
  background: none;
  color: var(--dark);
  padding: 0.5rem;
  font-size: 1rem;
}

.notification-close:hover {
  background: var(--danger);
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: var(--color3);
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  margin: 0;
  padding: 0.7rem;
  border-radius: 0.4rem;
}

input[type="checkbox"]:checked {
  background-color: var(--primary);
  position: relative;
}

input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 9px;
  border: solid #f3f4f6;
  border-width: 0 2px 2px 0;
  transform: translate(-50%, -50%) rotate(45deg);
}

.userTag {
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--primary-dark);
  color: #e2e8f0;
}

.userTag a {
  color: #e2e8f0;
}

html.dark .userTag {
  background-color: var(--color3);
}

.userTag img {
  width: 2rem;
  height: 2rem;
  border-radius: 20%;
}

footer {
  padding: 1.5rem;
  text-align: center;
  background-color: var(--color2);
  color: var(--dark-light);
  font-size: 0.9rem;
  margin-top: auto;
}

.dropdown-content button:hover {
  background-color: var(--dark-light);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color2);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: var(--color3);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color4);
}

:disabled {
  opacity: 0.5;
  pointer-events: none;
}
