body {
  background-image: url("/icons/home/blur.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body,
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.info {
  border-radius: 1rem;
  gap: 1.5rem;
  padding: 2rem;
  font-size: large;
  background-color: var(--color1);
  color: var(--dark);
}

.input-error {
  font-size: 0.85rem;
  color: #e5484d;
  margin-top: -1rem;
  min-height: 1em;
}

.input-invalid {
  border-color: #e5484d !important;
}

.input-valid {
  border-color: #2ecc71;
}